<body>
<app-navbar></app-navbar>
<h1 class="heading"> </h1>
<div class="logo" style="vertical-align:bottom">
  <img src="../../assets/Images/Emart_Logo.png"  height="40px" style="padding-bottom: 2px;" alt="img0">
</div>
<p class="sub_head" > <font size="5" style="color: black;">ᴀᴅᴅ ᴇʟᴇᴍᴇɴᴛꜱ ᴛʜᴀᴛ ᴡɪʟʟ ᴄᴀʟᴍ ʏᴏᴜʀ ꜱᴘᴀᴄᴇ ᴀɴᴅ ꜱᴏᴏᴛʜᴇꜱ ʏᴏᴜʀ ꜱᴏᴜʟ </font></p>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/Images/c4.jpg" class="d-block w-100 h-400" alt="img1">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/c2.png" class="d-block w-100" alt="img2">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/c1.jpg" class="d-block w-100" alt="img3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h3 class="heading">They Say Your Style Chooses You</h3>

<div class="card-group" >
  <div class="card-body">
      <div class="card" style="background-color: white;">
        <img src="../../assets/Images/microfilter bottle.jpg" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Microfilter Bottle</h5>
              <p class="card-text"><strong>Stock</strong>: 156</p>
              <p class="card-text"><strong>Price</strong>: ₹900</p>
              <button class="btn btn-success" routerLink="/products">Shop Now</button>
          </div>
      </div>
  </div>
  <div class="card-body" >
      <div class="card" style="background-color: white;">
        <img src="../../assets/Images/light.jpg" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Inflatable Light</h5>
              <p class="card-text"><strong>Stock</strong>: 245</p>
              <p class="card-text"><strong>Price</strong>: ₹800</p>
              <button class="btn btn-success" routerLink="/products">Shop Now</button>
          </div>
      </div>
  </div>
  <div class="card-body">
      <div class="card" style="background-color: white;">
        <img src="../../assets/Images/camping_tent.jpg" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Camping Tent</h5>
              <p class="card-text"><strong>Stock</strong>: 70</p>
              <p class="card-text"><strong>Price</strong>: ₹2,000</p>
              <button class="btn btn-success" routerLink="/products">Shop Now</button>
          </div>
      </div>
  </div>
  <div class="card-body">
      <div class="card" style="background-color: white;">
        <img src="../../assets/Images/gas_stove.jpg" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Gas Stove</h5>
              <p class="card-text"><strong>Stock</strong>: 45</p>
              <p class="card-text"><strong>Price</strong>: ₹2000</p>
              <button class="btn btn-success" routerLink="/products">Shop Now</button>
          </div>
      </div>
  </div>
</div>




  
<app-footer></app-footer>
</body>