
.user1{
    display: block;
    margin-left: 45%;
    margin-right: auto;
    width: 100%;
  }
  

.btn {
    margin: 30px;
    padding: 15px;
}

p {
    font-size: 30px;
    text-align: center;
}

.lg {
    width: 100%;
}

.heading {
    text-align: center;
    margin: 20px;
}